<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948374605029-onsfevnpple9t6bi9kljgci3lnqrqcn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948374605029-onsfevnpple9t6bi9kljgci3lnqrqcn2</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ha1ZTiGoHq8GcGTWd3bXSF_qsq_LoYI</string>
	<key>GCM_SENDER_ID</key>
	<string>948374605029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamwang.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-722ea</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-722ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948374605029:ios:1ef6d87d6be8df8c32180c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-722ea.firebaseio.com</string>
</dict>
</plist>